@using Microsoft.AspNetCore.Identity
@inject SignInManager<MMGC.Data.ApplicationUser> SignInManager
@inject UserManager<MMGC.Data.ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i> @User.Identity?.Name
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" asp-controller="Account" asp-action="Manage">
                <i class="bi bi-person"></i> Profile
            </a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form class="d-inline" asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="dropdown-item">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="Login">
            <i class="bi bi-box-arrow-in-right"></i> Login
        </a>
    </li>
}
